<!DOCTYPE html>
<html>
<head>
    <title>Blocked</title>
    <style>
    a {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #007BFF; /* Blue Button Background */
            color: #fff; /* White Text for Button */
            border-radius: 5px;
            margin-top: 20px;
        }

        a:hover {
            background-color: #0056b3; /* Darker Blue on Hover */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>YOU ARE BLOCKED BY ADMIN </h1>
    </div>
    <br>
    <br>
    <a href="/creator_tem/{{ username }}" type="button"> Back </a>
</body>
</html>
